body{
	background-color: white;
}

.nav_img{
width: 2em;
margin-top:  1em;
padding-left: 20px;
}

.sec1{
/*	float: right;*/

	margin-top: 1em;
	margin-left: 68em;
}

.ram{

}

.lang,.ram{
	margin-top: 2em;
}

.lang a{
	text-decoration: none;
}
nav a{
	text-decoration: none;
	font-size:15px;
	padding-left: 5px;		
	padding-top: -10px;


}

.sec2{
	text-align: center;
	padding-top: 5em;

}

.sec2 img{
	width: 25%;
	margin-top: -5em;
}



.sec3{
	text-align: center;

}

.ii{
	margin-top: -6em;
	margin-bottom: 2em;
}

.sec3 input{
	width: 40em;
	height: 3em;
	border-radius: 2em;
/*	border-style: none;*/
	outline: none;

}

.sec3 button{
	outline: none;
	height: 3em;
	margin-left: 3em;
}


.right{
	margin-left: 65em;
	padding-right:  5em;
}


footer{/*
	background-color: rgb(240, 236, 236);*/
	background-color: #F2F2F2;
	margin-top: 4em;

}

.foot_top{
	padding-left: 2em;
}

.foot_bom a{

	text-decoration: none;
	padding-left: 2em;
	color: black;
}

.Carbon{
	margin-left: 15em;
	margin-right: 15em;
}