body{
	background-color: white;
}


	.sec1{

		margin-left: 68em;
		margin-top: 2em;
	}


nav{
	display: flex;
	justify-content: space-around;
	width: 20%
	margin-left: auto;
}

nav a{

	text-decoration: none;
	color: black;
	font-size:15px;
	padding-left: 5px;		
}

nav img{
width: 2em;
height: 20px;
}




.ram a{
	text-decoration: none;

}

.lang,.ram{
	margin-top: 2em;
}

.lang a{
	text-decoration: none;
}


.sec2{
	text-align: center;
	padding-top: 5em;

}

.sec2 img{
	width: 25%;
	margin-top: -5em;
}



.sec3{
	text-align: center;

}

.ii{
	margin-top: -6em;
	margin-bottom: 2em;
}

.sec3 input{
	width: 40em;
	height: 3em;
	border-radius: 2em;
/*	border-style: none;*/
	outline: none;

}

.sec3 button{
	outline: none;
	height: 3em;
	margin-left: 3em;
}


.right{
	margin-left: 65em;
	padding-right:  5em;
}


footer{/*
	background-color: rgb(240, 236, 236);*/
	background-color: #F2F2F2;
	margin-top: 4em;

}

.foot_top{
	padding-left: 2em;
}

.foot_bom a{

	text-decoration: none;
	padding-left: 2em;
	color: black;	
}

.Carbon{
	margin-left: 13em;
	margin-right: 13em;
}